body.prof{
  .cardProf {
    width: 250px;
    height: 350px;
    padding: 20px;
    border: 1px solid #000;
    border-radius: 20px;

    &.choice1 {
      position: absolute;
      display: none;
      top: 40px;
      left: 190px;
    }
    &.choice2 {
      position: absolute;
      display: none;
      top: 40px;
      right: 190px;
    }

    p {
      margin: 0;
      font-size: 13px;

      &.nom {
        text-align: center;
        margin-bottom: 10px;
        font-size: 16px;
        font-weight: bold;
      }
      &.age::before {
        content: "age : ";
      }
      &.pedagogie::before {
        content: "pédagogie : ";
      }
      &.cycle::before {
        content: "cycle : ";
      }
      &.paie::before {
        content: "paie : ";
      }
      &.rigueur::before {
        content: "rigueur : ";
      }
    }

    .circle {
      width: calc(100% - 2px);
      height: 40px;
      margin-top: 10px;
      border-radius: 5px;
      border: 1px solid #000;
      position: relative;
      font-size: 13px;
      text-align: center;
      display: flex;
      align-items: center;

      .mat1, .mat2, .mat3, .mat4 {
        padding-left: 20px;
        padding-right: 42px;
        text-align: left;
      }

      .niveau_mat1, .niveau_mat2, .niveau_mat3, .niveau_mat4 {
        position: absolute;
        border: 1px solid #000;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        bottom: 5px;
        right: 5px;
        line-height: 30px;
        font-size: 18px;
        font-weight: bold;
      }
    }

    .btn-choisir {
      width: 100%;
      border: 1px solid #000;
      padding: 5px;
      margin-top: 5px;
      cursor: pointer;
    }
  }

  // FIN CARD PROF
  .listeprofs {
    .filterprofs{

    }
    .nomsprofs {
      display: flex;
      flex-wrap: wrap;
      padding: 0 10px;

      .profprofile {
        border: 1px solid #000;
        padding: 20px;
        padding-top: 50px;
        border-radius: 20px;
        flex-grow: 1;
        width: calc(25% - 62px);
        max-width: calc(25% - 62px);        
        margin: 20px 10px 0;
        overflow: hidden;
        position: relative;

        &:before {
          content: " ";
          position: absolute;
          top: 13px;
          left: 10px;
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid #FFF;
          z-index: 2;
        }

        &.mat-vent1:before, &.mat-vent2:before {
          background: #e8b643;
        }
        &.mat-feu1:before, &.mat-feu2:before {
          background: #e62323;
        }
        &.mat-eau1:before, &.mat-eau2:before {
          background: #438de8;
        }
        &.mat-terre1:before, &.mat-terre2:before {
          background: #42b146;
        }
        &.mat-lumiere1:before, &.mat-lumiere2:before {
          background: #fbffbe;
        }
        &.mat-tenebre1:before, &.mat-tenebre2:before {
          background: #000;
        }
        &.mat-illusion1:before, &.mat-illusion2:before {
          background: #dad414;
        }
        &.mat-psy1:before, &.mat-psy2:before {
          background: #ca62f5;
        }
        &.mat-histoire1:before, &.mat-histoire2:before {
          background: #24236b;
        }
        &.mat-mythe1:before, &.mat-mythe2:before {
          background: #ff1dee;
        }
        &.mat-monstre1:before, &.mat-monstre2:before {
          background: #8a6332;
        }
        &.mat-plante1:before, &.mat-plante2:before {
          background: #5af589;
        }
        &.mat-invocation1:before, &.mat-invocation2:before {
          background: #ff8100;
        }
        &.mat-rune1:before, &.mat-rune2:before {
          background: #7d276f;
        }
        &.mat-potion1:before, &.mat-potion2:before {
          background: #6dd44c;
        }
        &.mat-parchemin1:before, &.mat-parchemin2:before {
          background: #b1a998;
        }

        .profilnom {
          position: absolute;
          top: 0;
          left: 0;
          padding: 10px 20px;
          background: #000;
          width: calc(100% - 40px);
          color: #FFF;
          text-align: center;
        }
        .profilpedagogie {

        }
        .profilpaie {

        }
        .profilcycle {

        }
        .profilage {

        }
        .profilrigueur {

        }
        div {
          &.profilage::before {
            content: "age : ";
          }
          &.profilpedagogie::before {
            content: "pédagogie : ";
          }
          &.profilcycle::before {
            content: "cycle : ";
          }
          &.profilpaie::before {
            content: "paie : ";
          }
          &.profilrigueur::before {
            content: "rigueur : ";
          }
        }
      }
    }
  }
  // FIN PROFPROFILE
}
