<div class="choiceProf">
  <div class="choiceSpe hidden">
    <select class="selectSpe">
      <optgroup label="MAGIE">
        <option value="vent">Air</option>
        <option value="eau">Eau</option>
        <option value="feu">Feu</option>
        <option value="illusion">Illusion</option>
        <option value="lumiere">Lumière</option>
        <option value="terre">Nature</option>
        <option value="ombre">Ténèbres</option>
        <option value="psy">Psychisme</option>
      </optgroup>
      <optgroup label="PRATIQUES">
        <option value="potion">Alchimie</option>
        <option value="rune">Enchantements et Runes</option>
        <option value="invocation">Invocations</option>
        <option value="parchemin">Parchemins</option>
      </optgroup>
      <optgroup label="SAVOIRS">
        <option value="monstre">Créatures et monstres</option>
        <option value="plante">Herboristerie</option>
        <option value="histoire">Histoire de la magie</option>
        <option value="mythe">Mythe et légendes</option>
      </optgroup>
    </select>
    <button class="btn btn-validChoiceSpe">VALIDER SPE</button>
  </div>
  <div class="choice1 cardProf">
    <p class="nom"></p>
    <p class="age"></p>
    <p class="pedagogie"></p>
    <p class="cycle"></p>
    <p class="paie"></p>
    <p class="rigueur"></p>
    <div class="circle">
      <div class="mat1" data-atrad="true"></div>
      <div class="niveau_mat1"></div>
    </div>
    <div class="circle">
      <div class="mat2" data-atrad="true"></div>
      <div class="niveau_mat2"></div>
    </div>
    <div class="circle">
      <div class="mat3" data-atrad="true"></div>
      <div class="niveau_mat3"></div>
    </div>
    <div class="circle">
      <div class="mat4" data-atrad="true"></div>
      <div class="niveau_mat4"></div>
    </div>
    <div class="ID_prof hidden"></div>
    <button class="btn btn-choisir">CHOISIR</button>
  </div>
  <div class="choice2 cardProf">
    <p class="nom"></p>
    <p class="age"></p>
    <p class="pedagogie"></p>
    <p class="cycle"></p>
    <p class="paie"></p>
    <p class="rigueur"></p>
    <div class="circle">
      <div class="mat1" data-atrad="true"></div>
      <div class="niveau_mat1"></div>
    </div>
    <div class="circle">
      <div class="mat2" data-atrad="true"></div>
      <div class="niveau_mat2"></div>
    </div>
    <div class="circle">
      <div class="mat3" data-atrad="true"></div>
      <div class="niveau_mat3"></div>
    </div>
    <div class="circle">
      <div class="mat4" data-atrad="true"></div>
      <div class="niveau_mat4"></div>
    </div>
    <div class="ID_prof hidden"></div>
    <button class="btn btn-choisir">CHOISIR</button>
  </div>

  <!-- LISTE DES PROFS -->
  <div class="hidden listeprofs">
    <div class="filterprof">
      <select class="selectSpeList">
        <optgroup label="MAGIE">
          <option value="vent">Air</option>
          <option value="eau">Eau</option>
          <option value="feu">Feu</option>
          <option value="illusion">Illusion</option>
          <option value="lumiere">Lumière</option>
          <option value="terre">Nature</option>
          <option value="ombre">Ténèbres</option>
          <option value="psy">Psychisme</option>
        </optgroup>
        <optgroup label="PRATIQUES">
          <option value="potion">Alchimie</option>
          <option value="rune">Enchantements et Runes</option>
          <option value="invocation">Invocations</option>
          <option value="parchemin">Parchemins</option>
        </optgroup>
        <optgroup label="SAVOIRS">
          <option value="monstre">Créatures et monstres</option>
          <option value="plante">Herboristerie</option>
          <option value="histoire">Histoire de la magie</option>
          <option value="mythe">Mythe et légendes</option>
        </optgroup>
      </select>
    </div>
    <div class="nomsprofs"></div>
  </div>
</div>

<div class="submenu">
  <button class="btn btn-listeProfs">MES PROFS</button>
  <button class="btn btn-newprof">NEW PROF</button>
</div>
