$bp-mobile: 1280px;

html, body{
  position: relative;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: Arial;
  overflow: hidden;
}

/**** SCROLL *****/
#testIframe{
   min-height: 100vh;
   border: none;
}

hr.clear{
  border:none;

  &.clear-big{
    height: 1px;
  }
}

/**** CSS COMMUN *****/

h1{
  color:$blanc;
  font-size: 60px;
  font-family: Arial;
  text-transform: uppercase;
  font-weight: 100;
  margin: 10px 0 80px;
  line-height: 59px;
}

.transition{
  position: fixed;
  width: 100vw;
  height: 100vh;
  background:#fff;
  z-index: 9999;
  display:none;
}

.maincontent {
  width: 1280px;
  height: 550px;
  border: 1px solid $noir;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  .menu {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: flex;
    background: #f3f3f3;

    .bt {
      padding: 10px 10px 10px 20px;
      cursor: pointer;

      &:hover, &.selected {
        text-decoration: underline;
      }
    }
  }

  .submenu {
    position: absolute;
    width: 100%;
    bottom: 38px;
    left: 0;
    display: flex;
    background: #e2e2e2;

    .btn {
      padding: 10px 10px 10px 20px;
      cursor: pointer;
      border: 0;
      background: transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.hidden {
  display: none !important;
}
